body {
  text-align: center;
  font-family: 'courier new';
  font-size: 1.4em;
  background-color: #000000;
  color: #ffffff; }

a {
  color: #98fb98;
  text-decoration: none; }
  a:hover {
    color: #000000;
    background-color: #98fb98; }

img {
  border: 0px;
  padding: 0px;
  margin: 0px; }

.error {
  color: #ffffff;
  background-color: #ff0000;
  width: 600px;
  font-size: 0.7em;
  font-weight: bold;
  padding: 10px;
  border: 1px dimgray dashed; }

#container {
  width: 700px;
  text-align: left;
  margin-right: auto;
  margin-left: auto; }